Repository neicnordic/sensitive-data-archive, pull requests merged in 2023-11, with the labels that each got.

#399 add update-docs workflow
  .github/workflows/update-docs.yml
Labels: Heilsa

#430 Remove obsolete checks from Github Actions
  .github/dependabot.yaml
  .github/workflows/build_pr_container.yaml
  .github/workflows/code-linter.yaml
  .github/workflows/functionality.yml
  .github/workflows/publish_container.yml
  .github/workflows/test.yml
Labels: github_actions

#365 [Bigpicture] data replication services
  .github/integration/scripts/make_sda_credentials.sh
  .github/integration/sda-s3-integration.yml
  .github/integration/sda/config.yaml
  .github/integration/tests/sda/10_upload_test.sh
  .github/integration/tests/sda/20_ingest-verify_test.sh
  .github/integration/tests/sda/21_cancel_test.sh
  .github/integration/tests/sda/30_backup-finalize_test.sh
  .github/integration/tests/sda/40_mapper_test.sh
  .github/integration/tests/sda/45_sync_test.sh
  sda/cmd/finalize/finalize.go
  sda/cmd/sync/sync.go
  sda/cmd/sync/sync.md
  sda/cmd/sync/sync_test.go
  sda/cmd/syncapi/syncapi.go
  sda/cmd/syncapi/syncapi.md
  sda/cmd/syncapi/syncapi_test.go
  sda/go.mod
  sda/go.sum
  sda/internal/config/config.go
  sda/internal/config/config_test.go
  sda/internal/database/database.go
  sda/internal/database/db_functions.go
  sda/internal/database/db_functions_test.go
  sda/internal/schema/schema.go
  sda/internal/schema/schema_test.go
  sda/schemas/bigpicture/file-sync.json
  sda/schemas/bigpicture/metadata-sync.json
  sda/schemas/federated/dataset-deprecate.json
  sda/schemas/federated/dataset-mapping.json
  sda/schemas/federated/dataset-release.json
  sda/schemas/federated/inbox-remove.json
  sda/schemas/federated/inbox-rename.json
  sda/schemas/federated/inbox-upload.json
  sda/schemas/federated/info-error.json
  sda/schemas/federated/ingestion-accession-request.json
  sda/schemas/federated/ingestion-accession.json
  sda/schemas/federated/ingestion-completion.json
  sda/schemas/federated/ingestion-trigger.json
  sda/schemas/federated/ingestion-user-error.json
  sda/schemas/federated/ingestion-verification.json
  sda/schemas/isolated/dataset-deprecate.json
  sda/schemas/isolated/dataset-mapping.json
  sda/schemas/isolated/dataset-release.json
  sda/schemas/isolated/inbox-remove.json
  sda/schemas/isolated/inbox-rename.json
  sda/schemas/isolated/inbox-upload.json
  sda/schemas/isolated/ingestion-accession.json
  sda/schemas/isolated/ingestion-completion.json
Labels: BigPicture
